
body {
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  overflow-x: hidden;
}

/* .slidingWrapper {
  overflow: hidden;
} */
.sliding-background {

  height: auto;
  width: auto;

  height:auto;
  min-height:300px;
  animation: slide 120s linear infinite;
}

#bow {
  position: absolute;
    z-index: 9999;
    right: 82px;
    top: 6px;
}

#target {
  position: absolute;
    z-index: 9998;
    right: 38px;
    top: 31px;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.middle {
  width: 100%;
  margin-top: 300px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

}

.hundred {
  width: 100%;
}

/* .middle {
background: url("../images/b4.png");
background-repeat: no-repeat;
height: 100vh;
object-fit: co;
width:1200px;
margin-top:300px;
} */




.outerDiv {
  overflow:hidden;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
  background: #72b5e4;
}
.blueOuter {
  /* background:#72b5e4; */
}
.greenInner {
  background: #a3c54c;
  width: -1%;
  position: absolute;
  min-height: 3000px;
  top: 559px;
  right: 0;
  width: 100%;
  left: 0;
}

.whole {
  position: absolute;
  z-index: 999;
  top: 302px;
  right: 0% !important;
  display: flex;
  z-index: -1;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
}

.alignThis {
  width:100%;
  overflow:hidden;
}

.blocks12 {
  position:absolute;
  z-index:-3;
  top:35px;

}

.blocks13 {
  position:absolute;
  z-index:21;
  top:80px;

}

.blocks14 {
  position:absolute;
  z-index:0;
  top:240px;
}

.blocks15 {
  position: absolute;
  z-index: 0;
  top: 400px;
}

.blocks40 {
  position: absolute;
  z-index: 28;
  top: 180px;
  right: 50px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display:flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.blocks41 {
  position: absolute;
  z-index: 28;
  top: 250px;
  left: 50px;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blocks42 {
  position: absolute;
  z-index: 28;
  top: 344px;
  left: 100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  overflow: hidden;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom:1em;
}

.blocks500 {
  position: absolute;
  z-index: 28;
  top: 726px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  overflow: hidden;
  padding-right: 1em;
  padding-left: 1em;
  right: 178px;
  padding-bottom:1em;
}

.blocks700 {
  position: absolute;
  z-index: 28;
  top: 1310px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  overflow: hidden;
  padding-right: 1em;
  padding-left: 1em;
  right: 404px;
  padding-bottom:1em;
}

#play {
  z-index:9999;
  position:absolute;
  top:1300px;
}

.p {
  max-width:180px;
}

.blocks600 {
  position: absolute;
  z-index: 28;
  top: 1027px;
  left: 150px;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display:flex;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
justify-content: center;
  overflow: hidden;
  padding-right: 10em;
  padding-left: 3em;
  /* padding-bottom:1em; */
}
.house4 {
  max-width:150px;
}

.blue {
  background: #72b5e4;
  width:100%;
  height:auto;
}

.city {
  position: absolute;
  z-index: 99999;
  max-width: 300px;
  bottom: -200px;
}

.blocks900 {
  position: absolute;
  top: 2195px;
  z-index: 9999;
  min-height: 300px;
  padding-top: 5em;
  padding-bottom: 1em;
  width: 100%;
  height: auto;
}


.flag {
  position: absolute;
  /* top: 500px; */
  z-index: 999999999999;
  top: 2195px;
}

.blocks43 {
  position: absolute;
  z-index: 28;
  top: 384px;
  right: -48px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blocks801 {
  position: absolute;
  z-index: 28;
  top: 1600px;
  right: -90px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width:100%;
  height: 300px;
}

.blocks601 {
  position: absolute;
  z-index: 28;
  top: 1009px;
  right: -48px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.blocks800 {
  position: absolute;
  z-index: 28;
  top: 1800px;
  left: 170px;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display:flex;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
justify-content: center;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
align-items: center;
  overflow: hidden;
  padding-right: 4em;
  padding-left: 4em;
  padding-bottom:1em;
}

.blocks501 {
  position: absolute;
  z-index: 28;
  top: 400px;
  right: 889px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blocks701 {
  position: absolute;
  z-index: 28;
  top: 1085px;
  right: 846px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.blocks802 {
  position: absolute;
  z-index: 32;
  top: 1677px;
  right: 34px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;

}

.flexCol {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position:relative;
}
.grass1 {
  position: absolute;
  top: 179px;
  z-index: 80;
  left: -4px;
  min-width: 200px;
}

.grass5 {
  position: absolute;
  top: 163px;
  z-index: 80;
  left: -70px;
  max-width: 133px;
}

.pt1 {
  padding-top:7px;
}

#horizontal {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display:flex;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
justify-content: center;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
align-items: center;
}

#m2 {
  margin-top:2em;
}

#stripe {
  position: absolute;
    right: 44px;
    overflow: hidden;
    z-index: 999;
    width: 120px;
    top: 15px;
}

#stripe2 {
  position: absolute;
  right: -232px;
  overflow: hidden;
  z-index: 999;

  top: 250px;

  width: 120px;
}

#ex1 {
      position: absolute;
      right: -87px;
      top: -12px;
      min-width: 80px;
}

#ex3 {
position: absolute;
right: -44px;
top: -47px;

max-width: 85px;
}

#ex2 {
      position: absolute;
      top: 178px;
      right: -108px;

      z-index: -1;
      max-width: 95px;
}

#red1 {
  position: absolute;
  right: -213px;
  top: -12px;
  max-width: 167px;

}

#red5 {
  position: absolute;
  right: 182px;
  top: -4px;
  max-width: 167px;
}

.text5 {

  position: absolute;
  right: 216px;
  top: 42px;
  max-width: 109px;

}

#red2 {
  position: absolute;
  right: -67px;
  top: 179px;

  min-width: 175px;
}

.text1 {
  position: absolute;
  right: -178px;
  top: 41px;
  max-width: 109px;

}

.text2 {
  position: absolute;
  right: -23px;
  top: 231px;
  max-width: 100px;

}

.text4 {
  position: absolute;
  right: -23px;
  top: 223px;
  max-width: 100px;

}

#bubble1 {
  max-width: 267px;
  position: absolute;
  right: -249px;
  top: 142px;
  max-height: 238px;
}

#bubble3 {
  position: absolute;
  right: -261px;
  top: 160px;
  max-height: 300px;
  min-width: 267px;
}

#bubble2 {
  max-width: 265px;
      position: absolute;
      right: -91px;
      top: 341px;
      max-height: 276px;
}

#bubble4 {
  position: absolute;
  right: -114px;
  top: 340px;
  max-height:375px;
  min-width: 261px;
}

.colFlex {

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  text-align:left;
  padding:2em;
}

.tlt1, .tlt2, .tlt3 {
  display:none
}

h1.tlt10, h1.tlt101, h1.tlt102, h1.tlt104 {
  font-size:28px !important;
  font-weight:500 !important;
  text-align: left;
  margin-top:0em !important;
  margin-bottom:0em !important;
}

h1.tlt105 {
  font-size:26px !important;
  font-weight:500 !important;
  text-align: left;
  margin-top:0em !important;
  margin-bottom:0em !important;
}

p.tlt106 {
  font-size:16px;
  text-align:left;
  font-family: 'Roboto', sans-serif;
}

p.tlt107 {
  font-size:14px;

  font-family: 'Roboto', sans-serif;
}

#smallS {
  position:absolute;
  z-index:9;
  top: 45px;
  left: 16px;
}

#smallS2 {
  position:absolute;
  z-index:9;
  top: 88px;
  left: 65px;
}

#bigS {
  position:absolute;
  z-index:9;
  top: 39px;
  left: -34px;
}

#bigS2 {
  position:absolute;
  z-index:9;
  top: 100px;
  left: 74px;
}

#mediumS {
  position:absolute;
  z-index:9;
  top: 26px;
  left: -48px;
}

#mediumS2 {
  position:absolute;
  z-index: 9;
    top: 88px;
    left: 120px;
}

#bText1 {
  max-width: 253px;
  position: absolute;
  right: -254px;
  top: 136px;
  color: white;
  font-family: 'Roboto', sans-serif;
}


#bText5 {
  position: absolute;
  /* right: -253px; */
  top: 136px;
  color: white;
  font-family: 'Roboto', sans-serif;
  left: -11px;
  min-width: 250px;
}

#bText2 {
  max-width: 227px;
      position: absolute;
      top: 338px;
      color: white;
      font-family: 'Roboto', sans-serif;
      left: -122px;
      min-width: 227px;
}

#bText3 {
  max-width: 253px;
  position: absolute;
  right: -264px;
  top: 153px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#bText4 {
  position: absolute;
  top: 330px;
  color: white;
  font-family: 'Roboto', sans-serif;
  left: -129px;
  min-width: 228px;
}

#wrapper {
  max-width:1200px;

  /* overflow-x: hidden; */
}

.colAbsolute {
  position: absolute;
  top: 130px;

  z-index: -1;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  left: -56px;
}

.colAbsolute2 {
  position: absolute;
  top: 163px;
  z-index: 80;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  left: -42px;
}

.colAbsolute3 {
  position: absolute;
  top: 130px;
  z-index: -1;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  right: -14px;
}
#bubble5 {
  position: absolute;
  right: -260px;
  top: 118px;
  /* max-height: 238px; */
  min-width: 288px;
  min-height: 320px;
}

.colAbsolute4 {
  position: absolute;
  top: 163px;
  z-index: 80;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  right:6px;
}
.colAbsolute5 {
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 72px;
}

.colAbsolute6 {
  position: absolute;
  z-index: 9;
  top: 89px;
  left: -32px;
  max-width: 80px;

}


.lawn {
  min-width:86px;
}

.colAbsolute7 {
  position: absolute;
  z-index: 9;
  top: 61px;
  left: 94px;
  /* max-width: 80px; */

}


.house {
  margin-right:2em;
}

.house1 {
  margin-right:2em;
  margin-top:3em;
}

.redCar {
  margin-top:-1em;
}

.strong {
  font-weight:900 !important;
}

.sunOuter {
  position: absolute;
  z-index: 997;
  top: 29px;
  width: 200px;
  left: 20px;
}

.tlt2 .word7 {
  font-weight:900 !important;
}

.tlt3 .word21 {
  font-weight:900 !important;
  font-style: italic;
}

.tlt10 .word5 {
  font-weight:900 !important;
  font-style: italic;
}

.tlt104 .word12 {
  font-weight:900 !important;
  font-style: italic;
}

.tlt102 .word9 {
  font-weight:900 !important;
  font-style: italic;
}

.tlt102:last-child .word9 {
  font-weight:100 !important;
  font-style: normal;
}

.tlt105 .word10 {
  font-weight:900 !important;
  font-style: italic;
}

.tlt105:last-child .word10 {
  font-weight:100 !important;
  font-style:normal;
}

.tlt106 .word1 {
  font-weight:900 !important;
  font-style: italic;
}

.tlt106 .word22 {
  font-weight:900 !important;
  font-style: italic;
}

.tlt104:last-child .word12 {
  font-weight:100 !important;
  font-style:normal;
}

.tlt10:first-of-type  .word5 {
  font-weight:100 !important;
  font-style:normal;
}

.tlt101 .word5 {
  font-weight:900 !important;
  font-style: italic;
}

.tlt101:last-child .word5{
  font-weight:100 !important;
  font-style:normal;
}

.tlt107 .word11 {
  color:#266bb5;
  font-weight:bold
}

.tlt107 .word12 {
  color:#e42417;
  font-weight:900;
}

.tlt107 .word13 {
  color:#e42417;
  font-weight:900;
}

.tlt107:last-child .word2 {
  color:#266bb5;
  font-weight:bold
}

#whiteBox {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 1em;
  width:600px;
  padding-bottom: 1em;
}


.sunMiddle {
  position: absolute;
  z-index: 998;
  top: 45px;
  width: 160px;
  left: 38px;
}

.transparent {
  opacity:0;
}

.sunTop {
  position: absolute;
  z-index: 999;
  top:80px;
  left:80px;
  width:80px
}

.alignThis2 {
  position: absolute;
  z-index: 999;
  bottom: 771px;
  display: flex;
  z-index: 1;
  left: -100%;
}

.firstSetOfWords {
  position:absolute;
  z-index:99;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  top: 43px;
  left: -38px;
}

#finish {
  position: absolute;
  /* top: 500px; */
  z-index: 999999999999;
  top: 2029px;
  left:25px;
}

#finish2 {
  position: absolute;
  /* top: 500px; */
  z-index: 999999999999;
  top: 2200px;
}

h1.darkBlue {
  color:#2e3192;
  font-family: 'Roboto Slab', serif;
  font-weight:800;
  font-size: 2.6em;
  margin-bottom:0em;
}

h3 {
  margin-top:0em;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  font-size:1.5em;
  margin-bottom:0em;
}

p {
  margin-top:4px;
  font-family: 'Roboto', sans-serif;
  max-width:545px;
  font-weight:100;
}

.greenInner2 {
  background: #a3c54c;
  width: 50%;
  position: absolute;
  top: 353px;
  right: 0;
  min-height: 3000px;
}

.whiteClouds {
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display:flex;
-webkit-justify-content: space-around;
-moz-justify-content: space-around;
-ms-justify-content: space-around;
justify-content: space-around;
  width:100%;
}

.smallThing {
  margin-right:5em;
}



.yellow1 {
  position: relative;
  z-index: 9999999999;
  left: 16px;
  top: 37px;
  width: 57px;
  animation-duration: 6s;

}

.yellow2 {
  position: relative;
  z-index: 9999;
  left: 17px;
  top: -62px;
  width: 140px;
  animation-duration: 5s;
}
.yellow3 {
  position: relative;
  z-index: 999;
  left: 18px;
  top: -222px;
  width: 192px;
  animation-duration: 7s;
}

.blocks1000 {
  position: absolute;
  top: 2538px;
  z-index: 999999;
  left: 300px;

}


.footer {
  max-height:120px;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}



.scale-in-left {
  -webkit-animation: scale-in-left 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: scale-in-left 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
* Generated by Animista on 2019-6-25 12:45:54
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-in-left
* ----------------------------------------
*/
@-webkit-keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}

.slide-in-tl {
	-webkit-animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 0.6s both;
	        animation: bounce-in-top 0.6s both;
}


.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-27 12:16:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
